#!/bin/bash
#encoding=utf8

# ----------------------------------------------------------------------------------------------------------------------
# CONFIG
# ----------------------------------------------------------------------------------------------------------------------

# IP address of your device.
DEVICE_IP="192.168.XXX.XXX"

# Device port (default: 5555)
# Generally does not need to edit this parameter.
DEVICE_PORT=5555

# Delay before an event is triggered and starting the app.
# Try to increase by 0.15 needed.
BOOT_DELAY=0.15

# ----------------------------------------------------------------------------------------------------------------------
# APPS
# ----------------------------------------------------------------------------------------------------------------------

WOLF_FIRE_LAUNCHER="com.wolf.firelauncher/com.wolf.firelauncher.screens.launcher.LauncherActivity"
PLEX="com.plexapp.android/com.plexapp.plex.activities.SplashActivity"
